<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="myAppContext.xml"/>

    <bean id="userDao" class="com.my.demo1.UserDaoMysqlImpl" init-method="initDao" destroy-method="destroyDao">
           <property name="name" value="dasdasda"/>
    </bean>

</beans>